[build]
  command   = "npm run build"
  publish   = "dist"
  functions = "functions"

[functions]
  directory               = "functions"
  node_bundler            = "esbuild"
  external_node_modules   = ["nodemailer"]

# Redirection http -> https (OK)
[[redirects]]
  from   = "http://rsdepannage.com/*"
  to     = "https://rsdepannage.com/:splat"
  status = 301
  force  = true

# SPA React Router (IMPORTANT)
[[redirects]]
	from = "/*"
	to = "/index.html"
	status = 200
